* {
    margin: 0;
    padding: 0;
}

html, 
body {
    background: #1e1a20;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.section {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: "Cabin", sans-serif;
    color: #D3D57E;
    font-size: 7vmin;
    padding-left: 5%;
}

section:nth-child(odd){
    justify-content: flex-start;
}

#content{
    width: 50%;
}

.mainTitle{
    position: relative;
    font-size: 10vmin;
    left: 0;
}

.subtitle{
    margin-top: 15%;
    font-size: 3vmin;
}

.title{
    font-size: 9vmin;
}

.text{
    position: relative;
    font-size:3.5vmin;
    margin-top:35%;
    margin-right: 10%;
    text-align: justify;
}

@media only screen and (max-width: 1835px) {

    .mainTitle { 
        font-size: 7vmin; 
    }

    .subtitle {
        font-size: 2vmin;
    }

    .title {
        font-size: 7vmin;
    }

    .text {
        font-size: 2vmin;
    }

}

@media only screen and (max-width: 1450px) {

    .mainTitle { 
        font-size: 7vmin; 
    }

    .subtitle {
        font-size: 2vmin;
    }

    .title {
        font-size: 7vmin;
    }

    .text {
        font-size: 2vmin;
    }

}


